.blueButton{
  border-radius: 2.1875rem;
  background: linear-gradient(180deg, #2F6973 0%, #55A2A8 45.83%, #91C7C7 100%);
}

.judgeCaseDetailPage_input{
  padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 1rem;
padding-right: 1rem; 
margin-bottom: 0.75rem; 
border-radius: 0.5rem; 
border-width: 1px; 
width: 90%; 
height: 2.5rem; 
line-height: 1.25; 
color: #4f5865; 
appearance: none; 
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 

}